<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecolombada"
        tools:targetApi="31">

        <!-- Tela inicial: LoginActivity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity (destino após login) -->
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" />

        <!-- CadastroActivity (para criar conta) -->
        <activity
            android:name=".activities.CadastroActivity"
            android:exported="true" />

        <!-- ListaLombadasActivity (lista de lombadas) -->
        <activity
            android:name=".activities.ListaLombadasActivity"
            android:exported="true" />

        <!-- ListaUsuariosActivity (lista de usuários) -->
        <activity
            android:name=".activities.ListaUsuariosActivity"
            android:exported="true" />

        <!-- UsuarioActivity (detalhes do usuário) -->
        <activity
            android:name=".activities.UsuarioActivity"
            android:exported="true"/>

        <!-- DadosLombadaActivity (detalhes da lombada) -->
        <activity
            android:name=".activities.DadosLombadaActivity"
            android:exported="true" />

        <!-- ConfiguracoesActivity (ajustes) -->
        <activity
            android:name=".activities.ConfiguracoesActivity"
            android:exported="true" />

        <!-- SobreActivity -->
        <activity
            android:name=".activities.SobreActivity"
            android:exported="true" />

        <!-- AparenciaActivity -->
        <activity
            android:name=".activities.AparenciaActivity"
            android:exported="true" />

        <!-- CadastroLombadaActivity -->
        <activity
            android:name=".activities.CadastroLombadaActivity"
            android:exported="true" />

    </application>

</manifest>
